<!Doctype html>
<html lang="en">
    <head>
        <title>{% block title%}My website{%endblock%}</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}"/>
    </head>
    <body>
        <h1>Welcome to My website</h1>
        <!-- Display flash messages if they exist -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div>
            
            {% block content %} {%endblock%}
        </div>
    </body> 
    <footer>Footer content here</footer>
    </html>
